{{ define "main" }}
<section class="resume-section p-3 p-lg-5 d-flex d-column">
  <div class="my-auto">
    {{ $tag := .Data.Term }}
    Content tagged with <span class="tag">{{ $tag }}</span>
    <ul>
      {{ with .Site.GetPage "section" "projects" }}
        {{ range .Pages }}
          {{ if in .Params.tags $tag }}
            <li>
              {{ if .Content }}
                <a href="{{.Permalink}}">{{.Title}}</a>
              {{ else }}
                <a href="{{ printf "#%s" .Params.id | relURL }}">{{ .Title }}</a>
              {{ end }}
            </li>
          {{ end }}
        {{ end }}      
      {{ end }}
    </ul>
  </div>
</section>
{{ end }}