{{ if .Params.show_read_more_link }}
<h3 class="mb-3"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
{{ else }}
<h3 class="mb-3">{{ .Title }}</h3>
{{ end }}
<div class="resume-item d-flex flex-column flex-md-row mb-3">
  <div class="resume-content">
  </div>
  <div class="resume-date">
    <p>Client: <strong>{{ .Params.client }}</strong>, role: <strong>{{ .Params.role }}</strong>, duration: <strong>{{
        .Params.duration }}</strong> months</p>
    <p>{{ .Description | safeHTML }}</p>
    {{ if .Content }}
    <p class><a href="{{.Permalink}}">Read more..</a></p>
    {{ end }}
  </div>
</div>
<div>{{ partial "techtags" . }}</div>