<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="projects">
    <div class="my-auto" id="projects-content">
      <div class=" pb-2 pt-3">
        <h2>Projects</h2>
      </div>
      {{ with .Site.GetPage "section" "projects" }}
        {{ range .Pages }}
            {{ if .Content }}
                <h3 class="mb-3"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
            {{ else }}
                <h3 class="mb-3">{{ .Title }}</h3>
            {{ end }}
            <div class="resume-item d-flex flex-column flex-md-row mb-3" id="{{ .Params.id }}">
            <div class="resume-content">
            </div>
            <div class="resume-date">
                <p>Client: <strong>{{ .Params.client }}</strong>, role: <strong>{{ .Params.role }}</strong>, duration: <strong>{{ .Params.duration }}</strong> months</p>
                <p>{{ .Params.description | safeHTML }}</p>
                {{ if .Content }}
                    <p class><a href="{{.Permalink}}">Read more..</a></p>
                {{ end }}
            </div>
            </div>
            <div>
            <ul class="tags">
                {{ range .Params.tags }}
                    <li><a class="tag" href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a></li>
                {{ end }}
            </ul>
            </div>  
        {{ end }}
      {{ end }}
    </div>
</section>
  
  
  
  